{% extends "en-base.twig" %}

{% block content %}

<style>
.hero-img-mobile{
    margin-bottom:-25px;
}

section.banner .banner-hero .hero-img {
    right: -63px;
    bottom: -66px;
 }

@media(min-width:992px){
section.banner .banner-hero .hero-img {
    right: -264px;
    bottom: -117px !important;
}

}
</style>

<!-- Banner -->
<section class="banner extra-pad extra-pad-shorter form-space">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide text-center text-md-left">Let’s drive more sales for <br class="d-none d-md-none d-lg-inline-block">
                your business via sizzling <br class="d-none d-md-none d-lg-none">
                social media marketing</h1>
            <div class="hero-img-mobile d-md-none form-hide">
                <img src="{{ site.theme.link }}/assets/img/brianna-3x.png" srcset="{{ site.theme.link }}/assets/img/brianna-3x.png, {{ site.theme.link }}/assets/img/brianna-3x.png 2x" class="img-fluid d-block mx-auto" alt="First Page" />
            </div>            
            {% include "partials/en-form-services.twig" with {'form_page': 'Social Media Marketing','form_button':'GET A FREE QUOTE'} %}

            {% include "partials/en-section-awards-badges.twig" %}
        </div>

        <div class="hero-img hero-img-md d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/brianna-3x.png" srcset="{{ site.theme.link }}/assets/img/brianna-3x.png, {{ site.theme.link }}/assets/img/brianna-3x.png 2x" class="img-fluid" alt="First Page" style="max-width:450px;"/>
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/brianna-3x.png" srcset="{{ site.theme.link }}/assets/img/brianna-3x.png, {{ site.theme.link }}/assets/img/brianna-3x.png 2x"  alt="First Page" style="max-width:650px;"/>
        </div>
    </div>
</section>

{% include "partials/en-section-featured-in-news.twig" %}

{# row 1 #}
<section class="section-paragraph">
        <div class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse align-items-center">
            <div class="col-12 col-md-6 image-container-right">
                <img src="{{ site.theme.link }}/assets/img/current-social-media-accounts.png"  alt="First Page" class="img-fluid d-none d-lg-inline-block" style="max-width: 450px; "/>
                <img src="{{ site.theme.link }}/assets/img/current-social-media-accounts.png"  alt="First Page" class="img-fluid d-none d-lg-none" style="max-width: 350px; "/>
            </div>
            <div class="col-12 col-md-6 text-container">
                <h2>Are your current social media accounts really delivering growth?</h2>
                <img src="{{ site.theme.link }}/assets/img/current-social-media-accounts.png"  alt="First Page" class="img-fluid d-block mx-auto d-sm-none pb-4" />
                <p class="text-center text-md-left">Starting an online business, without any sort of social media marketing, is like driving a car without wheels. Regardless of how aggressively you turn on the ignition, you won’t be going anywhere fast!</p>
                <p class="text-center text-md-left">Using social media as a marketing tool is essential if you’re driven to achieve success in 2022. Social media marketing uses your socials, such as <a href="/facebook-advertising/">Facebook</a>, <a href="/instagram-advertising/">Instagram</a>, <a href="/linkedin-advertising/">LinkedIn</a>, <a href="/youtube-advertising/">YouTube</a>, and <a href="/tiktok-advertising/">TikTok</a>, to broadcast your brand across the web.</p>
                <p class="text-center text-md-left">SMM enhances the likelihood of your name being discovered amongst the whirlwind of competition.</p>
                <button type="button" data-title="socialMediaMarketing-get-freeproposal-Capture" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
            </div>
        </div>
</section>

{# row 2 #}
 <section class="section-paragraph">
        <div class="row no-gutters align-items-center">
            <div class="col-12 col-md-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/help-you-sell.png"  alt="First Page" class="img-fluid d-none d-lg-inline-block" style="max-width: 550px; "/>
            <img src="{{ site.theme.link }}/assets/img/help-you-sell.png"  alt="First Page" class="img-fluid d-none d-lg-none" style="max-width: 350px; "/>

            </div>
            
            <div class="col-12 col-md-6 text-container">
                <h2>Here’s how social media marketing can ACTUALLY help you sell!</h2>
                <img src="{{ site.theme.link }}/assets/img/help-you-sell-mob.png" class="img-fluid d-block mx-auto d-sm-none pb-4" alt="First Page" />
                <p class="text-center text-md-left">Social media keeps people in touch. Messages get sent, received, passed along, and communication happens at the stroke of a few keys.</p>
                <p class="text-center text-md-left">Wouldn’t it be wonderful if the news on everyone’s fingertips was your next venture?</p>
                <p class="text-center text-md-left">By engaging a social media marketing agency like First Page, your socials become elevated from a page on a website, to a beacon directing consumers to your business.</p>
                <p class="text-center text-md-left">We do this by formulating a strategy based on your business and your goals. Then, we help you implement this plan using your social media account to funnel web traffic to your page or website.</p>
                <button type="button" data-title="socialMediaMarketing-get-freeproposal-Make" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>

            </div>
        </div>
</section>

{# row 3 #}
 <section class="section-paragraph">
        <div class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse align-items-center">
            <div class="col-12 col-md-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/img_increase.svg"  alt="First Page" class="img-fluid d-none d-lg-inline-block" style="max-width: 650px; width: 100%;"/>
            <img src="{{ site.theme.link }}/assets/img/img_increase.svg"  alt="First Page" class="img-fluid d-none d-lg-none" style="max-width: 350px; "/>

            </div>
            
            <div class="col-12 col-md-6 text-container">
                <h2>Finally, start enjoying the BIG benefits of social media marketing</h2>
                <img src="/wp-content/themes/firstpage-au/assets/img/img_increase.svg" class="img-fluid d-block mx-auto d-sm-none pb-4" alt="First Page" />
                <p class="text-center text-md-left">If you’ve been through our learning centre it’s likely that you’ve seen what a social media marketing agency can do for you, but to put it simpler, engaging our social media marketing services will:</p>
                <ul>
                    <li>Increase traffic to your social pages and website</li>
                    <li>Allow you to funnel your audience to a desired web page, like your online store.</li>
                    <li>Give you a direct line of communication between you and your audience.</li>
                    <li>Increase your brand awareness.</li>
                    <li>Build an audience dedicated to your brand.</li>
                    <li>Give you a means of advertising new products and services.</li>
                </ul>
                <p class="text-center text-md-left">The cost of social media marketing can change depending on whose services you’re engaging and for what purpose.</p>
                <p class="text-center text-md-left">For example, there’s a big difference between designing a campaign and creating content. Depending on whether you’ve engaged a social media marketing agency or a freelancer, the costs and services offered are likely to be very different.</p>
                
                <button type="button" data-title="socialMediaMarketing-get-freeproposal-Attract" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>

            </div>
        </div>
</section>

{# 4 #}
 <section class="section-paragraph">
        <div class="row no-gutters align-items-center">
            <div class="col-12 col-md-6 image-container-left">
            <img src="/wp-content/themes/firstpage-au/assets/img/img_grow_faster.jpg"  alt="First Page" class="img-fluid d-none d-md-none d-lg-inline-block" />
            <img src="/wp-content/themes/firstpage-au/assets/img/img_grow_faster.jpg"  alt="First Page" class="img-fluid d-none d-md-block d-lg-none" style="max-width: 350px; "/>

            </div>
            
            <div class="col-12 col-md-6 text-container">
                <h2>Partner with the best in the business - our social media dream team</h2>
                <img src="/wp-content/themes/firstpage-au/assets/img/img_grow_faster.jpg" class="img-fluid d-block mx-auto d-sm-none pb-4" alt="First Page" />
                <p class="text-center text-md-left">First Page is a social media marketing agency that prides itself on offering only the highest-quality service.</p>
                <p class="text-center text-md-left">We set ourselves apart from other social media marketing companies through our sheer range of services offered, as well as our commitment to the client, and our passion for detail. Our services are award-winning, and proven to elevate our client’s business to their desired goals.</p>
                <p class="text-center text-md-left">If you’re concerned about the cost of social media marketing, please know that First Page Digital regularly gets our clients anywhere from 5 to 15 times the return on their investment! Our services include the following:</p>
                <button type="button" data-title="socialMediaMarketing-get-freeproposal-Smnash" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
            </div>
        </div>
</section>

<style>
    .social-media-icons .card{
      max-width: 450px;
      margin: auto;
    }
</style>

<section class="section container social-media-icons d-flex flex-column">
    <div class="row no-gutters align-items-center">
        <div class="col-12 col-md-6">
            <div class="card border-0 d-flex flex-column justify-content-center align-items-center">
                <div class="card-image">
                    <img src="{{ site.theme.link }}/assets/img/img_facebook.svg" alt="Facebook Social Media Marketing" style="max-width: 180px; min-width: 180px;">
                </div>
                <div class="card-title"><h3 class="text-center font-weight-bold h2">Make Facebook work for <br> your business</h3></div>
                <div class="card-body mt-auto">
                    <p class="text-center">Whilst it’s easy to pay for ads, it’s difficult to understand what makes those ads have appeal to the desired audience.</p>
                    <p class="text-center">Facebook ads are endlessly scalable, and heavily targeted – meaning they constantly end up in front of the people most likely to click on them. Our expertise in Facebook advertising is almost peerless among social media marketing companies.</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6">
            <div class="card border-0 d-flex flex-column justify-content-center align-items-center">
                <div class="card-image">
                    <img src="{{ site.theme.link }}/assets/img/img_instagram.svg" alt="Instagram Social Media Marketing" style="max-width: 180px; min-width: 180px;">
                </div>
                <div class="card-title"><h3 class="text-center font-weight-bold h2">Capture even more  <br> attention with Instagram</h3></div>
                <div class="card-body">
                    <p class="text-center">Social media marketing companies in Australia will always have a strategy for Instagram. And with good reason. 500 million people use it for over an hour almost daily!</p>
                    <p class="text-center">At First Page, we don’t neglect this platform, and have regularly turned over a 15-times ROI for clients that engage our social media marketing services.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row no-gutters align-items-center">
        <div class="col-12 col-md-6">
            <div class="card border-0 d-flex flex-column justify-content-center align-items-center">
                <div class="card-image">
                    <img src="{{ site.theme.link }}/assets/img/img_linkedin.svg" alt="LinkedIn Social Media Marketing">
                </div>
                <div class="card-title"><h3 class="text-center font-weight-bold h2">Smash your sales targets  <br> with LinkedIn ads</h3></div>
                <div class="card-body">
                    <p class="text-center">LinkedIn has been linking businesses to partners for years. But at First Page, we understand your competition is likely advertising through the more common channels.</p>
                    <p class="text-center">The truth is, very few of them are properly utilising LinkedIn. We are one of few companies in the social media marketing Australia sphere, that offer LinkedIn advertising services – and we’re pretty amazing at it!</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6">
            <div class="card border-0 d-flex flex-column justify-content-center align-items-center">
                <div class="card-image">
                    <img src="{{ site.theme.link }}/assets/img/img_youtube.svg" alt="YouTube Social Media Marketing">
                </div>
                <div class="card-title"><h3 class="text-center font-weight-bold h2">Attract YouTube’s massive  <br> audience</h3></div>
                <div class="card-body">
                    <p class="text-center">With over 2 billion active monthly users, it’s no wonder why advertising on YouTube has become so popular. Not only that, but like Facebook, the ads are very specifically targeted, and thus hugely effective.</p>
                    <p class="text-center">Among our social media marketing services, our YouTube ads are particularly profitable to our clients.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row no-gutters align-items-center justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card border-0 d-flex flex-column justify-content-center align-items-center">
                <div class="card-image">
                    <img src="{{ site.theme.link }}/assets/img/img_tik_tok.svg" alt="Tik Tok Social Media Marketing">
                </div>
                <div class="card-title"><h3 class="text-center font-weight-bold h2">Connect with brand new  <br> customers via Tik Tok</h3></div>
                <div class="card-body">
                    <p class="text-center">TikTok is one of the most popular aps, trends, and pastimes in social media these days, and at First Page, we’ve not neglected to offer social media marketing services within this sphere.</p>
                    <p class="text-center">In fact, we were one of the first to do so! As a result, we’re one of the best at it. We’d love to prove it to you.</p>
                </div>
            </div>
        </div>
    </div>

    <button type="button" data-title="socialMediaMarketing-get-freeproposal-Smnash" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick mx-auto">GET A FREE QUOTE</button>

</section>




{% include "partials/en-section-free-session.twig" %}

<section class="section-paragraph section-faqs pb-5">
    <div class="container">
        <h2 class="section-title">Social Media Marketing Agency FAQs
        </h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-md-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div
                        class="card-header collapsed" data-toggle="collapse" href="#collapse13">
                        {# Q1  #}
                        <h3 itemprop="name">What is Social Media Marketing?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse13" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Social Media Marketing is exactly what it sounds like – reaching an audience and spreading your brand message, using the medium of social media. Ever since content marketing and content creation became the foremost ways of spreading a brand and building an audience, platforms like Facebook, LinkedIn, Instagram, twitter, and more – have become imperative in the marketing process.</p>
                            <p>	Marketing this way allows companies and businesses to have greater autonomy with how they control their voice in the eyes of the public. It also allows them easier market research, a direct line of contact to their audience, metrics and analytics that show the effectiveness of their campaigns, enhanced outreach, streamlined advertising, and more control over a brand’s “image.” Being a relatively new way of marketing, there is still lots to discover about how it works, but there are many experts who offer services in marketing campaigns, search engine optimisation, and much more.</p>                            
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div
                        class="card-header collapsed" data-toggle="collapse" href="#collapse14">
                        {# Q2  #}
                        <h3 itemprop="name">How Does Social Media Help in Marketing?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse14" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>We have an expanded article about this topic at our <a href="/learning-centre/">learning center</a>, but in short – social media marketing can do pretty much everything you’d want it to do for your business. Social media pages are an incredibly versatile tool when used correctly, and can be use to build a brand, humanise your business, get up-to-date metrics on what people think of your business, brand, products, and services. It can be used to give your brand an image and align with a cause, advertise, communicate directly to your consumers, manage any mis-haps that may occur in a public setting.</p>
                            <p>	All-in-all social media marketing is capable of doing pretty much anything for your business, short of running it and making the products or engaging the services your sell. Especially when you consider the possibilities that are present through influencer partnerships, and the lasting benefits these may reap for your business due to celebrity endorsement.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div
                        class="card-header collapsed" data-toggle="collapse" href="#collapse15">
                        {#Q3#}
                        <h3 itemprop="name">How to Use Social Media for Small Business Marketing?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse15" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>All businesses can benefit from social media marketing campaigns, though just how they can benefit may often seem unattainable. This is still a relatively new form of marketing and it can take a lot of study to perfect. Simply put, the use of social media is equal parts art and science. Your business’s socials become your direct channel of communication and connection between you and your audience, and how you portray yourself online quickly becomes how you are viewed to your existing and soon-to-be clientele.</p>
                            <p>	Social media has proven to be an important tool in the building and establishment of your brand as an authority in your chosen industry, and after that becomes a useful tool in marketing to that audience. Although when using socials it is important to maintain a “conversational” approach, as studies show that socials are used for intimate interaction, rather than looking for products or services.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div
                        class="card-header collapsed" data-toggle="collapse" href="#collapse16">
                        {#  Q4  #}
                        <h3 itemprop="name">Why do you Need Social Media Marketing?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse16" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>The short answer is, everyone else is doing it! Imagine for a moment that there’s no social media, and business is carried out exclusively through storefronts. How would you make sure your business stood out amongst the other storefronts on your street? You’d make it as big and bright as possible, right? Well so would your neighbours.</p>
                            <p>	Where the analogy ends is that on a street you might have only tens of businesses to stand out against, maybe hundreds at most. But in this digital age the world of business is a vast ocean, filled with billions of websites promoting products, start up companies, and existing businesses. If you’re not willing to jump aboard the social media marketing boat, it’s very likely – in fact it’s fairly certain – that your business will drown in that ocean. If you’re a business owner, social media marketing isn’t a choice anymore, it’s a must.</p>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div
                        class="card-header collapsed" data-toggle="collapse" href="#collapse17">
                        {# Q5  #}
                        <h3 itemprop="name">How do I Start Social Media Marketing?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse17" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>There are many ways to start social media marketing. The simplest and most cost effective is to look at the myriad articles and guides online, learn as much as you can, and then launch it yourself! The strategies around marketing this way aren’t a secret, and many people are only too willing to share their knowledge so that small businesses and their owners can benefit from the “secrets” of social media marketing.</p>
                            <p>	If, however, you don’t have the time to teach yourself the ins-and-outs of the world of social marketing, don’t fret! There are multitudes of companies and freelance marketers that specialise in marketing through socials. They know exactly how to market your business, and how to get your foot in the door of the world that is the internet of things. First Page Digital is one such company, and we have the pleasure of being one of Australia’s leading digital marketing agencies.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div
                        class="card-header collapsed" data-toggle="collapse" href="#collapse18">
                        {#  Q6 #}
                        <h3 itemprop="name">Does Social Media Marketing Really Work?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse18" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Social media marketing works as well as you do. It’s one of those things that you’ll get out as much as you put in. If you do your research, work out when your audience is active, what kind of content they want to see, what age demographic your audience consists of, what elicits a positive or a negative reaction within them, then there’s no reason why a well put-together social media marketing campaign can’t give you all the success you need or want.</p>
                            <p>	Of course, there are those who have a negative opinion of social media marketing – this generally happens because they didn’t understand the work involved or thought that they could afford to neglect their socials. This couldn’t be further from the truth, and like all ventures, the more preparatory work done (or the better guidance given), the more successful that a social media campaign will be.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div
                        class="card-header collapsed" data-toggle="collapse" href="#collapse19">
                        {# Q7#}
                        <h3 itemprop="name">How Does Social Media Marketing Affect Small Businesses?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse19" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>We have an expanded article about this topic at our <a href="/learning-centre/">learning center</a>, but in short – social media marketing can do pretty much everything you’d want it to do for your business. Social media pages are an incredibly versatile tool when used correctly, and can be use to build a brand, humanise your business, get up-to-date metrics on what people think of your business, brand, products, and services. It can be used to give your brand an image and align with a cause, advertise, communicate directly to your consumers, manage any mis-haps that may occur in a public setting.</p>
                            <p>	All-in-all social media marketing is capable of doing pretty much anything for your business, short of running it and making the products or engaging the services your sell. Especially when you consider the possibilities that are present through influencer partnerships, and the lasting benefits these may reap for your business due to celebrity endorsement.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div
                        class="card-header collapsed" data-toggle="collapse" href="#collapse20">
                        {#  Q8  #}
                        <h3 itemprop="name">How Much do Social Media Marketers Charge?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse20" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Social media marketing isn’t a black-and-white thing. Marketers in this sphere act both alone, and in companies. You will find specialists and generalists, and some will charge more than others. Social media marketing is equal parts art and science – in this case market research, campaign strategy, social media management, and content creation.</p>
                            <p>	There is a myriad of freelance social managers, and their prices depend on how much of a comprehensive service they offer. Likewise, freelance content creators are likely to charge their own rates that they deem acceptable for their work. Even then, some may charge hourly, while others charge monthly, while some charge a flat rate.</p>
                            <p>	It’s not uncommon to spend several hundred dollars per month when engaging agencies like First Page Digital, but they typically offer a full-scope of marketing services that will help your business in a more efficient manner. If you’re interested, get a quote <a href="/contact-us/">here</a>.</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% include "assets/partials/en-form-popup.twig" with {'form_page': 'Social Media Marketing (Popup)'} %}

{% endblock %}
